.navbar {
    background-color: #D4E6B5;
    color: black;
    font-weight: bold;
}


.navbar h1 {
    color: #D4E6B5;
}

.btn-color2 {
    font-weight: bold;
    background-color: #FFDF64;
    align-items: center;
}